html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #414242;
  background-color: #FFFFFF;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.main-header {
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #e96786), color-stop(45%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #e96786 45%, rgba(255, 255, 255, 0) 45%);
}

.main-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.main-header__bevel {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
}

.main-header__call {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: -30px;
}

.bevel {
  width: 50%;
  height: 145px;
  background-color: #E96786;
}

.bevel::after {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #E96786;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

.bevel__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 105px;
  width: 89%;
  margin: 0;
  padding: 0;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
  background-color: #E96786;
  font-weight: 700;
  font-size: 44px;
  color: #ffffff;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 105px;
  background-color: #FFFFFF;
}

.call__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.call__top {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 27px;
  color: #E96786;
}

.call__number {
  color: #414242;
}

.call__number:hover, .call__number:focus {
  text-decoration: underline;
}

.call__webs {
  margin-bottom: 10px;
  font-size: 19px;
  color: #414242;
}

.call__webs:hover, .call__webs:focus {
  text-decoration: underline;
}

.about {
  position: relative;
  z-index: -1;
  min-width: 1140px;
  height: 718px;
  margin-top: -40px;
  background-color: #835E67;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.about__wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 170px;
  padding: 40px 170px;
  background-color: rgba(0, 0, 0, 0.78);
  text-align: center;
}

.about__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 34px;
  color: #ffffff;
  text-transform: uppercase;
}

.about__title_color_pink {
  color: #E96786;
}

.about__text {
  width: 780px;
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
  font-size: 19px;
  color: #ffffff;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */